.homepage .product-groups-container {
    display: flex;
    flex-wrap: wrap;
}

.homepage .product-group {
    flex: 1 0 29%;
    margin: 20px;
    cursor: pointer;
    text-decoration: none !important;
    border-radius: 10px;
}

.homepage .text-container {
    padding: 0 20px;
}

.homepage .product-group img {
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.homepage .product-group .product-group-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005f93;
    padding: 5px 15px;
    margin-top: -4px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.homepage .product-group .product-group-bottom p {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.homepage .product-group .product-group-bottom span {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    transition: all .15s ease-in-out;
}

.homepage .product-group .product-group-bottom span i {
    color: #ffffff;
}

.homepage .product-group img {
    height: 300px;
    object-fit: cover;
}

.homepage .product-group:hover .product-group-bottom span {
    transform: translateX(5px);
}
