.homepage .product-groups-container {
    display: flex;
    flex-wrap: wrap;
}

.homepage .product-group {
    flex: 1 0 29%;
    margin: 10px;
    cursor: pointer;
    text-decoration: none !important;
    border-radius: 10px;
    position: relative;
    height: 300px;
    margin-bottom: 30px;
}

.homepage .text-container {
    padding: 0 20px;
}

.homepage .product-group img {
    border-radius: 10px;
}

.homepage .product-group .product-group-bottom {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 10px;
    transition: all .15s linear;
    background: #6bb9f0;
    position: relative;
    top: -24px;
}

.homepage .product-group .product-group-bottom p {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: inline-block;
}

.homepage .product-group .product-group-bottom span {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    transition: all .15s linear;
    font-size: 14px;
}

.homepage .product-group .product-group-bottom span i {
    color: #ffffff;
}

.homepage .product-group img {
    height: 300px;
    object-fit: cover;
}

.homepage .product-group:hover::before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.homepage .product-group::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent 30%, transparent 60%, rgba(0, 0, 0, 0.3));
    border-radius: 10px;
}

.homepage .product-group:hover .product-group-bottom span {
    transform: translateX(5px);
}

.homepage .product-group:hover .product-group-bottom {
    background: #005f93;
}
