@keyframes wiggleCart {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(10deg);
    }
    50% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}