@import 'typography.css';
@import 'keyframes.css';
@import 'homepage.css';
@import 'search.css';
@import 'notfound.css';
@import 'cart.css';
@import 'klantenservice.css';
@import 'vraag.css';
@import 'vragen.css';
@import 'product.css';
@import 'base-styles.css';
@import 'register.css';
@import 'login.css';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*text-shadow: 2px 4px 3px rgba(33, 33, 33, 0.1);*/
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
}

hr {
    background-color: rgba(100, 100, 100, 0.1);
    border-color: rgba(100, 100, 100, 0.1);
    border-width: 1px;
    margin: 20px;
}

/* min-height instellen op basis van header en footer */
.page-content {
    min-height: 100vh;
}

.page-content.showingHeader {
    min-height: calc(100vh - 120px);
}

.page-content.showingFooter {
    min-height: calc(100vh - 40px);
}

.page-content.showingHeader.showingFooter {
    min-height: calc(100vh - 160px);
    padding: 40px;
}

.content-container {
    max-width: 1024px;
    margin: 0 auto;
    display: block;
    position: relative;
}

a {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: underline;
    text-shadow: none;
}

a.go-to-top {
    text-align: center;
    width: 100%;
    display: block;
}

a:hover {
    color: #6bb9f0;
    text-decoration: underline;
    transition: all .15s linear;
}

footer {
    position: relative;
    width: 100%;
    padding: 0 40px;
    background-color: #005f93;
    height: 40px;
    max-height: 40px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

footer .content-container a {
    padding: 5px 15px 5px 15px;
    border-right: 1px solid white;
    color: #ffffff;
    text-decoration: none;
}

footer .content-container a:hover {
    text-decoration: underline;
}

footer .content-container a:last-of-type {
    border-right: none;
}

.header {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    max-height: 120px;
    height: 120px;
}

.header img {
    height: 60px;
    width: auto;
}

.header ul {
    list-style: none;
}

.header-top {
    padding: 0 40px;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.header-top .cart {
    position: relative;
}

.header-top .cart span {
    background: #6bb9f0;
    display: flex;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-style: normal;
    text-decoration: none;
    position: absolute;
    top: -5px;
    right: -10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.header-top .cart img {
    height: 40px;
}

.header-top .cart:hover {
    -webkit-animation-name: wiggleCart;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 500ms;
    /* Safari 4.0 - 8.0 */
    animation-name: wiggleCart;
    animation-duration: 500ms;
}

.header-top ul li:first-of-type {
    margin-right: auto;
}

.header-top ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-top ul li {
    display: flex;
    padding: 10px;
}

.header-top ul li.search {
    width: 100%;
}

.header-top ul li.search form {
    width: 100%;
}

.header-top ul li.search form .input-search-container {
    width: 100%;
    position: relative;
}

.header-top ul li.search form .input-search-container input.input-search {
    width: 100%;
    padding-right: 65px;
}

.header-top ul li.search form .input-search-container button {
    position: absolute;
    right: 0;
    top: 0;
}

.header-bottom {
    background-color: #005f93;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 40px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 1;
    position: relative;
}

.header-bottom .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom a {
    color: #ffffff;
    text-decoration: none;
}

.header-bottom a:hover {
    text-decoration: underline;
}

.header-bottom ul {
    display: flex;
    padding: 5px 0;
}

.header-bottom .header-bottom-left ul li {
    padding: 5px 14px 5px 10px;
    border-right: 1px solid white;
}

.header-bottom .header-bottom-left ul li:last-of-type {
    border-right: none;
    padding: 5px 15px 5px 10px;
}

.header-bottom .header-bottom-right ul li {
    padding: 5px 10px 5px 14px;
    border-left: 1px solid white;
}

.header-bottom .header-bottom-right ul li:first-of-type {
    border-left: none;
    padding: 5px 10px 5px 15px;
}

form.login-button-form button {
    width: 115px;
    padding: 10px 20px;
}

.btn-primary {
    background: #6bb9f0;
    border-color: #6bb9f0;
    border: 0;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: normal;
    transition: all 0.15s linear;
}

.btn-primary span {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    font-style: normal;
}

.btn-primary span.fa {
    margin-right: 10px;
}

.btn-primary:hover,
.input-search-container .input-submit:hover {
    background: #005f93;
}

.btn-secondary {}

.input-search-container {}

.input-search-container .input-search {
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 9px 24px 9px 14px;
    border-radius: 5px;
    min-width: 400px;
    transition: all 0.15s linear;
}

.input-search-container .input-submit .fa.fa-search {
    color: #fff;
    padding: 0 10px;
}

.input-search-container .input-submit {
    padding: 9px;
    border: 1px solid #6bb9f0;
    color: white;
    background-color: #6bb9f0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    right: 14px;
    cursor: pointer;
    transition: all 0.15s linear;
}

.box-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.box-shadow:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.go-back span,
.go-to-top span {
    display: inline-block;
    transition: all .15s linear;
    text-decoration: underline;
}

.go-to-top span i {
    color: rgba(0, 0, 0, 0.4);
    margin-left: 5px;
}

.go-back span i {
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.4);
}

.go-back:hover span {
    color: #6bb9f0;
    transform: translateX(-5px);
    text-decoration: none;
}

.go-back:hover span i,
.go-to-top:hover span i {
    color: #6bb9f0;
}

.go-to-top:hover span {
    color: #6bb9f0;
    transform: translateY(-5px);
    text-decoration: none;
}

.icon-button,
.icon-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 18px;
    opacity: 0.5;
    transition: all .15s linear;
    width: 40px;
    height: 40px;
}

.icon-button:hover {
    opacity: 1;
}

select {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

span.add-to-cart.added button.added-product-button {
    position: relative;
    background-color: #3fc380;
    z-index: 1;
    transition: initial;
}

span.add-to-cart.added:hover button.added-product-button {
    visibility: hidden;
}

span.add-to-cart.added div {
    position: relative;
    width: 100% !important;
}

span.add-to-cart.added div button.remove-product-button {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #f03434;
    z-index: 0;
}

span.add-to-cart button {
    background: transparent;
    background-color: #6bb9f0;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .15s linear;
}

span.add-to-cart button:hover {
    background-color: #005f93;
}

span.add-to-cart button span {
    color: white;
    font-style: normal;
}

span.add-to-cart button span:first-of-type {
    margin-right: 10px;
}

.availability {
    color: #3fc380;
    font-style: normal;
    font-size: 16px;
    text-transform: lowercase;
    white-space: nowrap;
}

.tags-container {
    width: 100%;
    display: inline-block;
    text-align: left;
    white-space: nowrap;
}

.tags-container .tag {
    padding: 5px 10px;
    background: #005f93;
    margin-right: 5px;
    color: #ffffff;
    font-style: normal;
}