.search {
    padding: 0 20px;
}

.search span.add-to-cart {
    position: absolute;
    right: 0;
}

.search .hero {
    width: 100vw;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    height: 250px;
    top: -88px;
    margin-bottom: -50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.search .hero::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent 30%, transparent 60%, rgba(0, 0, 0, 0.3));
}

.search a.product {
    text-decoration: none;
    margin: 20px 0;
    display: flex;
    align-items: top;
    border-bottom: 5px solid #6bb9f0;
    background: #f8f8f8;
    padding-right: 40px;
    border-radius: 10px;
    overflow: hidden;
}

/*.search a.product:nth-of-type(odd) {*/
/*    border-bottom-right-radius: 100px;*/
/*    border-top-right-radius: 100px;*/
/*}*/

/*.search a.product:nth-of-type(even) {*/
/*    border-bottom-left-radius: 100px;*/
/*    border-top-left-radius: 100px;*/
/*}*/

.search a.product:nth-child(even) {
    border-color: #005f93;
}

.search h1 {
    margin-top: 20px;
}

.search .product img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: 10px;
    margin-right: 40px;
    border-radius: 15px;
    background: white;
}

.search .product .product-inner {
    margin-bottom: -2px;
}

.search .product .product-inner span.marketing-comment {
    display: block;
    height: 0;
    margin: 2px 0;
}

.search .product .product-inner.product-inner-right {
    padding: 20px 0;
    position: relative;
    width: 100%;
}

.search .product .product-inner.product-inner-right .product-inner-right-bottom {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 100%;
}

.search .tags-container {
    width: 50% !important;
    text-align: left !important;
}

.search .product .product-inner.product-inner-right div {
    width: 50%;
    display: inline-block;
    text-align: right;
    font-size: 16px;
    font-weight: lighter;
}

.search .product .product-inner.product-inner-right div .price {
    font-style: normal;
    font-size: 20px;
    text-transform: lowercase;
    color: rgba(0, 0, 0, 0.6);
}

.search .product:hover img {}

.search .product:hover h5 {}